<!DOCTYPE html>
<html>
  <head>
    <title>Forgot Password</title>
    <link rel="icon" class="icon" href="../public/TECH (2).png" type="image/png">

    <link rel="stylesheet" href="forgot-password.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
  </head>
  <body>
    <div class="forgot-password-box">
      <h1>Forgot Password</h1>
      <form id="forgotPasswordForm">
        <label>Date of Birth</label>
        <input type="date" name="dob" required>
        <label>E-mail</label>
          <input type="email" name="email" id="email" required>
          <input type="button" value="Generate OTP" onclick="generateOTP()">
        <label>OTP</label>
        <input type="text" name="otp" placeholder="Enter OTP" required>
        <label>New Password</label>
        <input type="password" name="newPassword" placeholder="Enter new password" required>
        <label>Confirm Password</label>
        <input type="password" name="confirmPassword" placeholder="Confirm new password" required>
        <input type="button" value="Set Password" onclick="setPassword()">
      </form>
    </div>
    <script src="./public/common.js"></script>
  </body>
</html>


