<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Message to Students</title>
    <link rel="icon" class="icon" href="../public/TECH (2).png" type="image/png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <h1>Send Message to Students</h1>
    <form action="/message" method="post">
        <label for="teacherName">Teacher's Name:</label>
        <input type="text" id="teacherName" name="teacherName" required><br><br>
        <label for="from">From (Your Email):</label>
        <input type="email" id="from" name="from" required><br><br>
        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject" required><br><br>
        <label for="message">Message:</label><br>
        <textarea id="message" name="message" rows="5" cols="30" required></textarea><br><br>
        <button type="submit">Send Email to Students</button>
    </form>
</body>

</html>