body {
    font-family: 'ROBOTO', Sans-Serif;
    background-image: url('background.png'); 
    background-size: cover;
    background-position: center;
    font-family: "Poppins", sans-serif;
    display: flex;
    height: 100vh;
  }
  
  .forgot-password-box {
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    padding-top: 15px;
  }
  
  form {
    width: 300px;
    margin-left: 20px;
  }
  
  label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
  }
  
  
  input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }
  .email-section input[type="email"] {
  width: 70%; 
  }
  
  .email-section input[type="button"] {
  width: 50%; 
  background: #2196f3;
  color: white;
  font-size: 18px;
  }
  
  input[type="button"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background:#2196f3;
    color: white;
    font-size: 18px;
  }
  
  p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
  }
  
  .p1 {
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: -10px;
  }
  
  .p1 a {
    color: #49cla2;
  }
  